.search_todo_btn {
    color: #fff;
    background-color: #000;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_todo>*+* {
    margin-top: 20px;
}