.complete_button {
    height: 30px;
    width: 30px;
    background: rgba(34, 197, 94, .1);
    border: 1px solid rgba(0, 255, 0, .5);
    color: rgb(34 197 94);
    cursor: pointer;
}

.todo_complete {
    display: none;
}