.action_button_container {
    display: flex;
    justify-content: flex-end;
    gap: 0 20px;
}

.low {
    display: inline-block;
    padding: 4px 16px;
    color: #fff;
    background-color: green;
    border-radius: 9999px;
}

.medium {
    display: inline-block;
    padding: 4px 16px;
    color: #000;
    background-color: yellow;
    border-radius: 9999px;
}

.high {
    display: inline-block;
    padding: 4px 16px;
    color: #fff;
    background-color: red;
    border-radius: 9999px;
}

.delete_button {
    height: 30px;
    width: 30px;
    background: rgba(255, 0, 0, .1);
    border: 1px solid rgba(255, 0, 0, .3);
    color: red;
    cursor: pointer;
}

.complete_todo_bg {
    background-color: rgba(255, 0, 0, .1)
}