.page {
  min-height: 100svh;
  width: 100%;
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}


/* Responsive CSS */
/* @media only screen and (max-width:450px) {
  .page {
    height: 100%;
    max-width: 400px;
    overflow: hidden;
  }
} */