.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px 20px;
}

.todos_header {
    margin-bottom: 5px;
}

.navbar_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search_box_container {}

.search_box {
    padding: 8px 12px !important;
}

/* Responsive CSS */
@media only screen and (max-width:650px) {
    .navbar_container {
        flex-wrap: wrap;
        gap: 10px;
    }

    .todos_header {
        width: 100%;
    }

    .navbar_right {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .search_box_container {
        width: 100%
    }
}