.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #ddd;
}

.todos_header {
    margin-bottom: 5px;
}

.navbar_right {
    display: flex;
    align-items: center;
    gap: 20px;
}